.pointerHover {
    cursor: pointer;
}

p#moreButtonStatus {
    display: inline;
}

details[open] p#moreButtonStatus {
    display: none;
}

p#lessButtonStatus {
    display: none;
}

details[open] p#lessButtonStatus {
    display: inline;
}

.expand {
    color: #FF7438;
}




body {
    font-family: 'Helvetica';
    color: white;
}

html,
body {
    margin: 0;
    height: 100%;
}

.transparentAligner {
    color: transparent;
}

.markdownBlock {
    margin: 20px;
    line-height: 1.5;
}

.lowerContent {
    margin-top: 70%;
    position: relative;
}

.markdownBlock h1 {
    color: white;
    box-shadow: 0px 0px 20px #FF7438;
    width: 100%;
    text-align: center;
}

.expand {
    color: #FF7438;
    cursor: pointer;
}

.expand:hover {
    color: black;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

p {
    color: white;
}

mark {
    color: white;
    padding: 3px;
}

a {
    color: white;
}

a:hover {
    color: #EF893D;
}

.transparentAligner {
    color: transparent;
}

.pointerHover {
    cursor: pointer;
    display: inline;
}

details {
    transition: all 0.5s ease;
}

.menuText:hover {
    color: white;
}

li {
    color: white;
}